USE [master]
GO
/****** Object:  Database [Saad]    Script Date: 10/06/2017 13:54:30 ******/
CREATE DATABASE [Saad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Saad', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Saad.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Saad_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Saad_log.ldf' , SIZE = 13248KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Saad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Saad]
GO
/****** Object:  Table [dbo].[AnalysisRequestActivities]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AnalysisRequestActivities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](100) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Remarks] [varchar](255) NOT NULL,
	[AnalysisRequest_Id] [int] NOT NULL,
 CONSTRAINT [PK_AnalysisRequestActivities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AnalysisRequestDocuments]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AnalysisRequestDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](max) NULL,
	[Url] [varchar](max) NULL,
	[ReferenceMonth] [int] NULL,
	[ReferenceYear] [int] NULL,
	[AnalysisRequest_Id] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[Type] [varchar](50) NULL,
	[Relevance] [varchar](50) NULL,
	[DocumentReference] [varchar](100) NULL,
	[ReasonNotPresent] [varchar](100) NULL,
	[EvaluationResult] [varchar](50) NULL,
	[EvaluationPoints] [int] NULL,
	[EvaluationReservations] [varchar](max) NULL,
	[EvaluationRemarks] [varchar](max) NULL,
	[MaximumEvaluationPoints] [int] NULL,
 CONSTRAINT [PK_AnalysisRequestDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AnalysisRequestFeedbacks]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AnalysisRequestFeedbacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnalysisRequest_Id] [int] NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Feedback] [text] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUser_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_AnalysisRequestFeedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AnalysisRequestLitigations]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AnalysisRequestLitigations](
	[Id] [int] NOT NULL,
	[InitialContractValue] [decimal](18, 2) NOT NULL,
	[ContractSum] [decimal](18, 2) NOT NULL,
	[ContractAdvanceValue] [decimal](18, 2) NOT NULL,
	[ContractAdditionsValue] [decimal](18, 2) NOT NULL,
	[ContractSuppliedValue] [decimal](18, 2) NOT NULL,
	[BondValue] [decimal](18, 2) NOT NULL,
	[ContractEmployeesPayment] [decimal](18, 2) NOT NULL,
	[TaxesPaymentValue] [decimal](18, 2) NOT NULL,
	[SuppliersPaymentValue] [decimal](18, 2) NOT NULL,
	[HiringValue] [decimal](18, 2) NOT NULL,
	[ProcessCode] [varchar](255) NOT NULL,
	[JudgmentPlace] [varchar](255) NOT NULL,
	[JudicialDistrict] [varchar](255) NOT NULL,
	[PendenciesBlockingIngress] [varchar](255) NOT NULL,
	[ProgressDate] [datetime] NULL,
	[ProgressDescription] [varchar](255) NOT NULL,
	[ActionPlan] [varchar](255) NOT NULL,
	[ResponsibleLawyerOffice] [varchar](255) NOT NULL,
	[JudicialPhase] [varchar](20) NULL,
	[LitigationType] [varchar](50) NOT NULL,
	[Orders] [varchar](max) NULL,
	[SucceesProbability] [varchar](20) NULL,
 CONSTRAINT [PK_AnalysisRequestLitigationData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AnalysisRequestMonthlyControls]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalysisRequestMonthlyControls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[TotalRequestsGenerated] [int] NOT NULL,
	[ErrorsCount] [int] NOT NULL,
 CONSTRAINT [PK_AnalysisRequestMonthlyControls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AnalysisRequests]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AnalysisRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](20) NULL,
	[Supplier_Id] [int] NOT NULL,
	[ServiceLocal] [varchar](255) NULL,
	[ServiceDescription] [varchar](255) NULL,
	[CreateDate] [datetime] NOT NULL,
	[Customer_Id] [int] NULL,
	[RequestedByUser_Id] [nvarchar](128) NULL,
	[RequestStatus] [varchar](70) NULL,
	[ContractStartDate] [datetime] NULL,
	[ContractFinalDate] [datetime] NULL,
	[ContractTotalAmount] [decimal](18, 2) NULL,
	[ContractBalance] [decimal](18, 2) NULL,
	[Work_Id] [int] NULL,
	[WorkDescription_Id] [int] NULL,
	[RequestedByDepartment_Id] [int] NULL,
	[ContractFileName] [varchar](500) NULL,
	[ContractFileUrl] [varchar](500) NULL,
	[ReferenceDate] [datetime] NULL,
	[EvaluationPercentage] [decimal](18, 2) NULL,
 CONSTRAINT [PK_AnalysisRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AnalysisRequestWorkDescriptions]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalysisRequestWorkDescriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Request_Id] [int] NOT NULL,
	[WorkDescription_Id] [int] NOT NULL,
 CONSTRAINT [PK_AnalysisRequestWorkDescriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Customer_Id] [int] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](70) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](70) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DocumentKits]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DocumentKits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](70) NOT NULL,
	[Code] [varchar](30) NOT NULL,
 CONSTRAINT [PK_DocumentKits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Documents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](120) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Relevance] [varchar](50) NOT NULL,
	[DocumentKit_Id] [int] NOT NULL,
	[Reference] [varchar](100) NULL,
	[Details] [text] NULL,
	[MaximumScore] [int] NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DocumentStandardReasons]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DocumentStandardReasons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentReference] [varchar](100) NOT NULL,
	[Points] [int] NOT NULL,
	[Reason] [text] NOT NULL,
 CONSTRAINT [PK_DocumentStandardReasons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CNPJ] [varchar](20) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[FantasyName] [varchar](255) NOT NULL,
	[MainContactName] [varchar](255) NOT NULL,
	[MainContactPhone] [varchar](20) NOT NULL,
	[MainContactEmail] [varchar](100) NOT NULL,
	[CEP] [varchar](9) NOT NULL,
	[Street] [varchar](255) NOT NULL,
	[Number] [varchar](20) NOT NULL,
	[District] [varchar](50) NOT NULL,
	[City] [varchar](100) NOT NULL,
	[UF] [varchar](2) NOT NULL,
	[MobilePhone] [varchar](20) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WorkDescriptions]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WorkDescriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](70) NOT NULL,
 CONSTRAINT [PK_WorkDescriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Works]    Script Date: 10/06/2017 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Works](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[Name] [varchar](70) NOT NULL,
 CONSTRAINT [PK_Works] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AnalysisRequestActivities] ON 

INSERT [dbo].[AnalysisRequestActivities] ([Id], [Status], [Title], [Date], [Remarks], [AnalysisRequest_Id]) VALUES (2, N'Requisição', N'Homologação', CAST(N'2017-02-05 14:20:20.053' AS DateTime), N'João da Silva requisitou a homologação', 50)
INSERT [dbo].[AnalysisRequestActivities] ([Id], [Status], [Title], [Date], [Remarks], [AnalysisRequest_Id]) VALUES (3, N'Upload arquivo', N'Contrato Social', CAST(N'2017-02-05 14:22:53.510' AS DateTime), N'Heverson Castro Amorim fez upload do arquivo benedito.pdf', 50)
INSERT [dbo].[AnalysisRequestActivities] ([Id], [Status], [Title], [Date], [Remarks], [AnalysisRequest_Id]) VALUES (4, N'Upload arquivo', N'Endereço', CAST(N'2017-02-05 14:22:53.623' AS DateTime), N'Heverson Castro Amorim fez upload do arquivo Boleto.pdf', 50)
GO
SET IDENTITY_INSERT [dbo].[AnalysisRequestActivities] OFF
SET IDENTITY_INSERT [dbo].[AnalysisRequestDocuments] ON 

INSERT [dbo].[AnalysisRequestDocuments] ([Id], [FileName], [Url], [ReferenceMonth], [ReferenceYear], [AnalysisRequest_Id], [Name], [Type], [Relevance], [DocumentReference], [ReasonNotPresent], [EvaluationResult], [EvaluationPoints], [EvaluationReservations], [EvaluationRemarks], [MaximumEvaluationPoints]) VALUES (11, N'benedito.pdf', N'/Content/Uploads/benedito.pdf', 0, 0, 37, NULL, N'1', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[AnalysisRequestDocuments] ([Id], [FileName], [Url], [ReferenceMonth], [ReferenceYear], [AnalysisRequest_Id], [Name], [Type], [Relevance], [DocumentReference], [ReasonNotPresent], [EvaluationResult], [EvaluationPoints], [EvaluationReservations], [EvaluationRemarks], [MaximumEvaluationPoints]) VALUES (12, N'Boleto.pdf', N'/Content/Uploads/Boleto.pdf', 0, 0, 37, NULL, N'2', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[AnalysisRequestDocuments] ([Id], [FileName], [Url], [ReferenceMonth], [ReferenceYear], [AnalysisRequest_Id], [Name], [Type], [Relevance], [DocumentReference], [ReasonNotPresent], [EvaluationResult], [EvaluationPoints], [EvaluationReservations], [EvaluationRemarks], [MaximumEvaluationPoints]) VALUES (13, N'Bradesco_30042016_115155.pdf', N'/Content/Uploads/Bradesco_30042016_115155.pdf', 0, 0, 37, NULL, N'3', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[AnalysisRequestDocuments] OFF
SET IDENTITY_INSERT [dbo].[AnalysisRequestFeedbacks] ON 

INSERT [dbo].[AnalysisRequestFeedbacks] ([Id], [AnalysisRequest_Id], [Type], [Feedback], [CreateDate], [CreateUser_Id]) VALUES (1, 87, N'Cadastro', N'cadatro mc''donalds ´´', CAST(N'2017-03-05 10:34:37.877' AS DateTime), N'04cafca0-3604-4015-a5de-aa713e648266')
INSERT [dbo].[AnalysisRequestFeedbacks] ([Id], [AnalysisRequest_Id], [Type], [Feedback], [CreateDate], [CreateUser_Id]) VALUES (2, 87, N'Trabalhista', N'vocês trabalham mesmo hein?!', CAST(N'2017-03-05 10:34:40.620' AS DateTime), N'04cafca0-3604-4015-a5de-aa713e648266')
SET IDENTITY_INSERT [dbo].[AnalysisRequestFeedbacks] OFF
SET IDENTITY_INSERT [dbo].[AnalysisRequestMonthlyControls] ON 

INSERT [dbo].[AnalysisRequestMonthlyControls] ([Id], [CreateDate], [TotalRequestsGenerated], [ErrorsCount]) VALUES (1, CAST(N'2017-02-25 20:15:45.027' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[AnalysisRequestMonthlyControls] OFF
SET IDENTITY_INSERT [dbo].[AnalysisRequests] ON 

SET IDENTITY_INSERT [dbo].[AnalysisRequests] OFF
SET IDENTITY_INSERT [dbo].[AnalysisRequestWorkDescriptions] ON 

INSERT [dbo].[AnalysisRequestWorkDescriptions] ([Id], [Request_Id], [WorkDescription_Id]) VALUES (1, 115, 2)
INSERT [dbo].[AnalysisRequestWorkDescriptions] ([Id], [Request_Id], [WorkDescription_Id]) VALUES (2, 115, 4)
INSERT [dbo].[AnalysisRequestWorkDescriptions] ([Id], [Request_Id], [WorkDescription_Id]) VALUES (3, 116, 1)
SET IDENTITY_INSERT [dbo].[AnalysisRequestWorkDescriptions] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'Admin', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'Customer', N'Customer')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'Supplier', N'Supplier')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'04cafca0-3604-4015-a5de-aa713e648266', N'Admin')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2f142bb9-0b58-4730-a783-59a8a133d636', N'Customer')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5f60e89b-696f-4e3c-9377-91a22891f8c5', N'Supplier')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name], [Customer_Id]) VALUES (N'04cafca0-3604-4015-a5de-aa713e648266', N'heverson@saad.com.br', 1, N'ANObq8PBGzLEXMoz9gYH8U8LRcpALwrIH8L2vAu9wiO3lBGPPcG316JizfA1gEGRIQ==', N'30338c5c-c66a-4990-939c-09ed468a3451', NULL, 0, 0, NULL, 1, 0, N'heverson@saad.com.br', N'Heverson Castro Amorim', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name], [Customer_Id]) VALUES (N'26240407-ddc5-4146-9b08-2ce08b0129b2', N'heverson.amorim@hotmail.com', 1, N'AMquQiNs1Nu4PpJ7HiBdhwqpju9vYzU/qMIfx9JUUsrvgooOOtyvud+b1C9yxGoZjQ==', N'd835a6f2-0d25-462e-b691-7e33e9a6974b', NULL, 0, 0, NULL, 1, 0, N'heverson.amorim@hotmail.com', N'Heverson Amorim', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name], [Customer_Id]) VALUES (N'2f142bb9-0b58-4730-a783-59a8a133d636', N'email@amil.com.br', 1, N'ALhhqk5vl26rVz3oosxOeLCWcWmWHB6Q9YhkjtOGDFdZPstXfyQXT+0jp+7NGKZ6SA==', N'eb34ddfe-4850-44aa-b370-2310b81c6d6a', NULL, 0, 0, NULL, 1, 0, N'email@amil.com.br', N'Amil', 2)
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name]) VALUES (1, N'Alphaville')
INSERT [dbo].[Customers] ([Id], [Name]) VALUES (2, N'Amil')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name]) VALUES (1, N'Compras')
INSERT [dbo].[Departments] ([Id], [Name]) VALUES (2, N'Estoque')
INSERT [dbo].[Departments] ([Id], [Name]) VALUES (3, N'Financeiro')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[DocumentKits] ON 

INSERT [dbo].[DocumentKits] ([Id], [Name], [Code]) VALUES (1, N'Homologação', N'Homologation')
INSERT [dbo].[DocumentKits] ([Id], [Name], [Code]) VALUES (2, N'Análise Mensal', N'MonthlyAnalysis')
INSERT [dbo].[DocumentKits] ([Id], [Name], [Code]) VALUES (3, N'Compliance', N'Compliance')
SET IDENTITY_INSERT [dbo].[DocumentKits] OFF
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([Id], [Name], [Type], [Relevance], [DocumentKit_Id], [Reference], [Details], [MaximumScore]) VALUES (1, N'Contrato Social', N'Cadastro', N'Alta', 1, N'CONTRATO_SOCIAL', N'Contrato social é a formalização da empresa com as cotas para cada um dos sócios', 10)
INSERT [dbo].[Documents] ([Id], [Name], [Type], [Relevance], [DocumentKit_Id], [Reference], [Details], [MaximumScore]) VALUES (2, N'Procuração pública subscrita por sócios, nos termos autorizados Procuração para não sócios', N'Análise Economico-Financeira', N'Média', 1, N'ENDERECO', N'Comprovante legal de endereço. Pode ser conta d''água ou telefone', 9)
INSERT [dbo].[Documents] ([Id], [Name], [Type], [Relevance], [DocumentKit_Id], [Reference], [Details], [MaximumScore]) VALUES (3, N'Folha de Pagamento', N'Trabalhista', N'Alta', 1, N'FOLHA_PAGAMENTO', N'Folha de pagamento brow', 5)
SET IDENTITY_INSERT [dbo].[Documents] OFF
SET IDENTITY_INSERT [dbo].[DocumentStandardReasons] ON 

INSERT [dbo].[DocumentStandardReasons] ([Id], [DocumentReference], [Points], [Reason]) VALUES (1, N'CONTRATO_SOCIAL', 1, N'Razão 1')
INSERT [dbo].[DocumentStandardReasons] ([Id], [DocumentReference], [Points], [Reason]) VALUES (2, N'CONTRATO_SOCIAL', 2, N'Razão 2')
INSERT [dbo].[DocumentStandardReasons] ([Id], [DocumentReference], [Points], [Reason]) VALUES (3, N'CONTRATO_SOCIAL', 3, N'Razão 3')
SET IDENTITY_INSERT [dbo].[DocumentStandardReasons] OFF
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [CNPJ], [Name], [FantasyName], [MainContactName], [MainContactPhone], [MainContactEmail], [CEP], [Street], [Number], [District], [City], [UF], [MobilePhone]) VALUES (2, N'10291073000133', N'Heverson Consultoria em informática Ltda', N'Heverson Consultoria', N'HEVERSON CASTRO AMORIM', N'19996683769', N'heverson.amorim@gmail.com', N'13272810', N'Rua José Carlos Ferrari', N'382', N'Residencial Santa Maria', N'Valinhos', N'SP', NULL)
INSERT [dbo].[Suppliers] ([Id], [CNPJ], [Name], [FantasyName], [MainContactName], [MainContactPhone], [MainContactEmail], [CEP], [Street], [Number], [District], [City], [UF], [MobilePhone]) VALUES (3, N'49.170.901/0001-10', N'PhotoCenter', N'PhotoCenter', N'teste', N'19996683769', N'teste@teste.com.br', N'13272-810', N'Rua João Previtalli, 677', N'677', N'Santa Cruz', N'Valinhos', N'SP', NULL)
INSERT [dbo].[Suppliers] ([Id], [CNPJ], [Name], [FantasyName], [MainContactName], [MainContactPhone], [MainContactEmail], [CEP], [Street], [Number], [District], [City], [UF], [MobilePhone]) VALUES (4, N'95.016.361/0001-32', N'Asus Ltda', N'Asus', N'HEVERSON CASTRO AMORIM', N'19996683769', N'heverson.amorim@gmail.com', N'13272-810', N'Rua José Carlos Ferrari', N'382', N'Residencial Santa Maria', N'Valinhos', N'SP', NULL)
GO
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
SET IDENTITY_INSERT [dbo].[WorkDescriptions] ON 

INSERT [dbo].[WorkDescriptions] ([Id], [Name]) VALUES (1, N'ADUTORA')
INSERT [dbo].[WorkDescriptions] ([Id], [Name]) VALUES (2, N'BOOSTER')
INSERT [dbo].[WorkDescriptions] ([Id], [Name]) VALUES (3, N'CLUBE HOUSE')
SET IDENTITY_INSERT [dbo].[WorkDescriptions] OFF
SET IDENTITY_INSERT [dbo].[Works] ON 

INSERT [dbo].[Works] ([Id], [Code], [Name]) VALUES (1, N'KA00', N'Terras Alphaville Campina Grande')
INSERT [dbo].[Works] ([Id], [Code], [Name]) VALUES (2, N'KD20', N'Terras Alphaville Ceará F1')
INSERT [dbo].[Works] ([Id], [Code], [Name]) VALUES (3, N'KD21', N'Terras Alphaville Ceará F2')
SET IDENTITY_INSERT [dbo].[Works] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Works]    Script Date: 10/06/2017 13:54:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Works] ON [dbo].[Works]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnalysisRequestActivities]  WITH CHECK ADD  CONSTRAINT [FK_AnalysisRequestActivities_AnalysisRequests] FOREIGN KEY([AnalysisRequest_Id])
REFERENCES [dbo].[AnalysisRequests] ([Id])
GO
ALTER TABLE [dbo].[AnalysisRequestActivities] CHECK CONSTRAINT [FK_AnalysisRequestActivities_AnalysisRequests]
GO
ALTER TABLE [dbo].[AnalysisRequestDocuments]  WITH CHECK ADD  CONSTRAINT [FK_AnalysisRequestDocuments_AnalysisRequests] FOREIGN KEY([AnalysisRequest_Id])
REFERENCES [dbo].[AnalysisRequests] ([Id])
GO
ALTER TABLE [dbo].[AnalysisRequestDocuments] CHECK CONSTRAINT [FK_AnalysisRequestDocuments_AnalysisRequests]
GO
ALTER TABLE [dbo].[AnalysisRequests]  WITH CHECK ADD  CONSTRAINT [FK_AnalysisRequests_Suppliers] FOREIGN KEY([Supplier_Id])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[AnalysisRequests] CHECK CONSTRAINT [FK_AnalysisRequests_Suppliers]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Customers] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Customers]
GO
USE [master]
GO
