@model IEnumerable<Saad.Lib.Data.Model.AnalysisRequestActivity>

<div class="row m-t-sm">
    <div class="col-lg-12">
        <div class="panel blank-panel">
            <div class="panel-heading">
                <div class="panel-options">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-2" data-toggle="tab">Atividades</a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-2">

                        @if (Model != null && Model.Count() > 0) {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Título</th>
                                        <th>Data</th>
                                        <th>Inserido por</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var activity in Model.OrderByDescending(a => a.Date)) {
                                        <tr>
                                            <td>
                                                <span class="label label-primary"><i class="fa fa-check"></i> @activity.Status</span>
                                            </td>
                                            <td>@activity.Title</td>
                                            <td>@activity.Date.ToString()</td>
                                            <td>
                                                <p class="small">
                                                    @activity.Remarks
                                                </p>
                                            </td>

                                        </tr>
                                    }

                                    
                                </tbody>
                            </table>

                        } else {
                            <div class="alert alert-danger">Nenhuma atividade registrada</div>
                        }


                    </div>
                </div>

            </div>

        </div>
    </div>
</div>