@using Saad.Lib.Data.Model
@using Saad.Lib.Data.Helpers
@model Saad.Models.AnalysisRequestDetailsViewModel

<h1>Pareceres</h1>

@foreach (var feedback in Model.Request.Feedbacks) {
    <h3>@feedback.Type</h3>
    <p class="text-justify">@feedback.Feedback</p>
}